<div class="container">
	<h1>Mon panier</h1>
	<br/>

	<div class="panier col-sm-12 col-md-6 col-lg-6">
		<% itemList = @cart_items.select{|cart_item| cart_item.cart_id == current_user.cart.id} %>
		<h3>Dans mon panier :</h3>
		<% itemList.each do |cart_item| %>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div class="itemInCart">
					<h4><%= Item.find_by(id: cart_item.item_id).title %></h4>
					<p> prix: <em> <%= Item.find_by(id: cart_item.item_id).price %>€ </em>, quantité: <%= CartItem.find_by(cart_id: current_user.cart.id, item_id: cart_item.item_id).quantity %></p>
				</div>
			</div>
		</div>
		<% end %>
		<div class="d-flex justify-content-end">
			<button type="button" class="btn btn-info">Valider mon panier</button> </div>
		<br/>
	</div>
</div>



