// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'bebas_neuebold';
    src: font-url('bebasneue-bold-webfont.woff2') format('woff2'),
         font-url('bebasneue-bold-webfont.woff') format('woff'),
         font-url('bebasneue-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: fonts-url('bebasneue-regular-webfont.woff2') format('woff2'),
         fonts-url('bebasneue-regular-webfont.woff') format('woff'),
         fonts-url('bebasneue-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.title {
	padding-top: 50px;	
}

.header-title {
	font-family: bebas_neuebold;
	font-size: calc(64px + 3vw);
}

.card-body {
	background-color: #2B3E50;
	border-radius: 15px;
}

body {
	background-image: none;
}

.container h1 {
	font-family: bebas_neuebold;
	font-size: calc(72px + 2vw);
	text-shadow: 4px 0 0 #FF95E7;
}

h2 {
	font-family: bebas_neuebold;
	color: #FF95E7;
	text-shadow: 1.8px 0 0 #fff;
}

.brand {
	color: #FF95E7;
	text-shadow: 3px 0 0 #fff;
}

.kin {
	margin-bottom: 15px;
}

.bg-light {
	background-color: #FF95E7;
}

a {
	font-family: bebas_neuebold;
}

.card a {
	color: #FFA9F5;
}

.card a:hover {
	color: #FF95E7;
}

.card-body {
	background-image: none;

}

#btn-addItem {
	border-radius: 15px;
	margin-bottom: 15px;
	border: none;
}
